body {
  background-image: url('../images/brewdog16.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px;
}

a {
  text-decoration: none;
  font-family: arial;
}

/* font-family: 'Architects Daughter', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Graduate', cursive; */

#header {
  font-family: 'Graduate', cursive;
  color: maroon;
  font-weight: bold;
  font-size: 25px;
  width: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-image: url('../images/brewdog5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px orange solid;
  /* margin: 5px; */
}

#dropdown {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: orange;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-family: 'Changa', sans-serif;
  font-size: 25px;
  color: white;
  /* border: 3px orange double; */
  /* margin: 5px; */
}
#footer {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 0px;
  text-align: center;
  align-items: center;
  font-family: 'Changa', sans-serif;
}
#beer-list {
  /* display:flex; */
  /* justify-content: center; */
}
#beer-select {
  align-items: center;
  justify-content: center;
  font-family: 'Changa', sans-serif;
  font-size: 12px;
}
.image {
  height: 350px;
  width: auto;
  align-items: center;
}
.beer-wrapper {
  display: flex;
  flex-wrap: flex;
  margin: 3px 10px 3px 10px;
  height: auto;
}
.beer-image {
  display: flex;
  justify-content: center;
  flex: 25%;
  background-color: #f1f1f1;
  margin: 10px 5px 10px 10px;
  border: 1px solid black;
  padding: 15px;
  /* height: 400px; */
  align-items: center;
  background-image: url('../images/brewdog5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border: 3px orange solid;
}

.beer-info {
  display: flex;
  flex-direction: column;
  flex: 75%;
  /* background-color: #f1f1f1; */
  margin: 10px 10px 10px 5px;
  border: 1px solid black;
  /* height: 400px; */
  padding: 25px;
  background-image: url('../images/white.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  border: 3px orange solid;
}

.name {
  font-family: 'Graduate', cursive;
  color: dodgerblue;
}

.abv {
  font-family: 'Graduate', cursive;
  color: orange;
}

.tagline {
  font-family: 'Changa', sans-serif;
  color: purple;
  font-style: italic;
}

.food {
  font-size: 20px;
  color: maroon;
  font-family: 'Shadows Into Light Two', cursive;
}

.description {
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
}
